@charset "UTF-8";

@import-glob "./Settings/*.pcss";
@import-glob "./Tools/*.pcss";
@import-glob "./Generic/*.pcss";
@import-glob "./Fonts/*.pcss";
@import-glob "./Base/*.pcss";
@import-glob "./Components/*.pcss";
@import-glob "./Layouts/*.pcss";
@import-glob "./Site/*.pcss";
@import-glob "./Object/*pcss";
@import-glob "./Trumps/*.pcss";